<!--
Author: Dan Greer

Footer to be at the bottom of each page.
-->
<div class = "footer">
	<img src="images/osuSmall.png" alt="OSU Logo">
	<p class="footerText">
		<a href="https://cse.osu.edu/"> Department of Computer Science and Engineering </a>
		<br>
		491 Dreese Laboratories, 2015 Neil Avenue, Columbus, OH 43210
		<br>
		Office: 614-292-1553 (Lab: 614-292-5137) (Fax: 614-292-2911)
		<br>
		Email: jwdavis@cse.ohio-state.edu
	</p>
</div>
