<!--
Author: Carter Brown and Dan Greer

Navbar to be at the top of each page
-->
<div class="navbar">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="publications.html">Publications and Press</a></li>
      <li><a href="people.html">People</a></li>
      <li><a href="teaching.html">Teaching</a></li>
      <li><a href="pictures.html">Pictures</a></li>
    </ul>
</div>
