---
title: James W. Davis
---

<!--
Author: Dan Greer

Home page for James W. Davis.
-->

<h1>Jim W. Davis, Ph.D.</h1>
<img class = "profileImg" src="images/JamesWDavis.jpg" alt="Professor Jim Davis"/>

<h2> Biography </h2>
<div class = "content">
	<p>
Prof. Jim Davis is a Full Professor in the Dept. of Computer Science and Engineering. He received his Ph.D. from the Massachusetts Institute of Technology in 2000. His research areas include computer vision, artificial intelligence, machine learning, image analysis, visual perception, human-computer interaction, motion capture, and automated video surveillance. Professor Davis has a functioning multi-camera outdoor surveillance research architecture on the campus of OSU consisting of multiple PTZ Network-IP cameras mounted on rooftops. He has received over $3M in research funding (to date) from the National Science Foundation, U.S. Air Force, Los Alamos National Lab, U.S. Army Night Vision Laboratory, Intel, and Ohio Board of Regents. Davis' work on computer vision methods was recognized by the National Science Foundation with the prestigious NSF Faculty Early Career Development (CAREER) Program award.
	</p>
</div>

<br />

<h2> Appointments </h2>
<div class = "content appointments">
	<ul>
		<li> 2018 - present: Coordinator, Undergraduate Research (CSE), OSU </li>
		<li> 2013 - present: Full Professor, Dept. of Computer Science and Engineering, OSU </li>
		<li> 2012 - present: Chair, Computer Committee (CSE), OSU </li>
		<li> 2004 - present: Faculty Member, Institute for Ergonomics, OSU </li>
		<li> 2000 - present: Faculty Member, Center for Cognitive Science, OSU </li>
		<li> 2000 - present: Affiliated Faculty, Advanced Computing Center for the Arts & Design, OSU </li>
		<li> 2000 - 2005: Assistant Professor, Dept. of Computer Science and Engineering, OSU </li>
		<li> 2005 - 2013: Associate Professor, Dept. of Computer Science and Engineering, OSU </li>
	</ul>
</div>

<br />

<h2> Noteworthy </h2>
<div class = "content noteworthy">
	<ul>
		<li> Recipient of 2015 OSU College of Engineering Innovators Award</li>
		<li> Launched Polarity Maximizer commercial software and <a href="audiomere.com"> Audiomere </a> </li>
		<li> Recipient of 2012 OSU College of Engineering Lumley Research Award</li>
		<li> Workshop co-Chair, IEEE Conference on Computer Vision and Pattern Recognition (2014)</li>
		<li> Best Paper Award: "Attention-based Target Localization using Multiple Instance Learning", International Symposium on Visual Computing, November 2010 </li>
		<li> IEEE Computer Vision and Pattern Recognition Reviewer Award 2010 </li>
		<li> CSE Teaching Award 2009-2010 </li>
		<li> Co-Program Chair, IEEE International Conference on Advanced Video and Signal based Surveillance (Sept. 2010) </li>
		<li> Co-General Chair, IEEE Workshop on Motion and Video Computing (Dec. 2009) </li>
		<li> Co-Chair, for IEEE Workshop on Object Tracking and Classification in and Beyond the Visible Spectrum (OTCBVS), June 22, 2006 </li>
		<li> Guest Editor (w/ Riad Hammoud) for CVIU Special Issue on Advances in Vision Algorithms and Systems Beyond the Visible Spectrum </li>
		<li> Appointed as Associate Editor for Machine Vision and Applications journal (May 2005) </li>
		<li> Recipient of 2005 OSU College of Engineering Lumley Research Award </li>
		<li> Benchmark and Website Chair for IEEE Workshop on Object Tracking and Classification in and Beyond the Visible Spectrum (OTCBVS), June 2005 </li>
		<li> Recipient of 2003 NSF Career Award (March 2003) </li>
		<li> Lockheed-Martin Best Paper Award: "A Three-Mode Expressive Feature Model of Action Effort", IEEE Workshop on Motion and Video Computing, Dec. 5-6, 2002, pp. 139-144 </li>
	</ul>
</div>

<br/>

