---
title: James W. Davis
---

<!--
Author: Ally Chitwood and Dan Greer

Page displaying James W. Davis' colleagues
-->

<h1>Jim W. Davis, Ph.D.</h1>

<h2> Current Students </h2>
<img class= "currentStudent" src="images/currentStudent.jpg" alt="Mo and Professor Davis"/>
<div class = "content">
  <table>
    <tr>
	<th>Name</th>
	<th>Degree Being Pursued</th>
    </tr>
    <tr>
	<td>Joe Barker</td>
	<td>Ph.D. student</td>
    </tr>
    <tr>
	<td>Tong Liang</td>
	<td>Ph.D. student</td>
    </tr>
    <tr>
	<td>Rob Gross</td>
	<td>Ph.D. student</td>
    </tr>
    <tr>
	<td>Chris Menart</td>
	<td>M.S. student</td>
    </tr>
    <tr>
	<td>Debanjan Nandi</td>
	<td>M.S. student</td>
    </tr>
    <tr>
	<td>Mo Akbar</td>
	<td>B.S./M.S. student</td>
    </tr>
    <tr>
	<td>Josh Sandvick</td>
	<td>B.S/M.S. student</td>
    </tr>
    <tr>
	<td>Brett Whitford</td>
	<td>B.S. student</td>
    </tr>
    <tr>
	<td>Chuhan Feng</td>
	<td>B.S. student </td>
    </tr>
  </table>
</div>

<br />

<h2> Alumni </h2>
<div class = "content">
  <ul>
    <li> <u> Rohith Savaram </u> <br/> M.S. project, May 2016 <br/> Now at Expedia</li>

    <li> <u> Dan Marchese </u> <br/> Undergraduate Honors Thesis: "A Framework for Using Custom Features to Colorize Grayscale Images", May 2016 <br/> Now at Amazon </li>

    <li> <u> Manjari Akella </u> <br/> M.S. Project, May 2015 <br/> Now at IBM </li>

    <li> <u> Jeremy Ledonne </u> <br/> Undergraduate research assistant <br/> Graduated 2015 </li>

    <li> <u> Daniya Zamalieva </u> <br/> Ph.D. Thesis: "Transformational Models for Background Subtraction with Moving Cameras", September 2014 <br/> Now at Google </li>

    <li> <u> Ryan Niemocienski</u> <br/> Undergraduate research assistant, 2013-2014 </li>

    <li> <u> Kyle Salberg </u> <br/> Undergraduate research assistant <br/> Graduated June 2012 <br/> Now at Garmin </li>

    <li> <u> Michael Schoenberg </u> <br/> Undergraduate research assistant <br/> Graduated June 2012 <br/> Now at Microsoft </li>

    <li> <u> Ronak Buch </u> <br/> Undergraduate research assistant <br/> Graduated June 2012 <br/> Now at UIUC </li>

    <li> <u> Kevin Streib </u> <br/> Ph.D. Thesis: "Improved Graph-based Clustering with Applications in Computer Vision and Behavior Analysis", March 2012 (and Post-Doc with Davis) </li>

    <li> <u> Karthik Sankaranarayanan </u> <br/> Ph.D. Thesis: "Multiple Instance Learning for Localization and Tracking of Persistent Targets", August 2011 <br/> Now at IBM India </li>

    <li> <u> Ryan Feather </u> <br/> MS Thesis: "Tracking and Activity Analysis in Wide Area Aerial Surveillance Video", August 2011 </li>

    <li> <u> Matt Nedrich </u> <br/> MS Thesis: "Detecting Behavioral Zones in Local and Global Camera Views", June 2011 <br/> Now at Intel </li>

    <li> <u> Mark Keck </u> <br/> Ph.D. Thesis: "Occlusion Recovery and Reasoning for 3D Surveillance", August 2009 <br/> Now at BAE </li>

    <li> <u> Karl Salva </u> <br/> Undergraduate research assistant <br/> Graduated March 2009 <br/> Now at Numerica </li>

    <li> <u> Ambrish Tyagi </u> <br/> Ph.D. Thesis: "Layered Tracker Switching for Visual Surveillance", August 2008 <br/> Now at STI - Omron Scientific Technologies </li>

    <li> <u> Vinay Sharma </u> <br/> Ph.D. Thesis: "Simultaneous Object Detection and Segmentation using Top-down and Bottom-up Processing", November 2007 <br/> Now at Texas Instruments </li>

    <li> <u> Hui Gao </u> <br/> Ph.D. Thesis: "Extracting Key Features for Analysis and Recognition in Computer Vision", February 2006 <br/> Now at Microsoft </li>

    <li> <u> Alex Morison </u> <br/> MS Thesis: "An Adaptive Focus-of-Attention Model for Video Surveillance and Monitoring", August 2006 <br/> Now at OSU/AFRL </li>

    <li> <u> Vignesh Kannappan </u> <br/> MS Thesis: "Automatic Temporal Segmentation of Human Actions", June 2003 <br/> Now at Microsoft </li>

    <li> <u> Stephanie Taylor </u> <br/> MS Thesis: "Computer Analysis and Recognition of Walking Movements", June 2002 </li>

    <li> <u> Robin Tan </u> <br/> Undergraduate Honors Thesis: "Human-Content Video Coding", March 2002 </li>


  </ul>
</div>

<br />
