---
title: Pictures
---

<!--
Author: Carter Brown

Page displaying Jim W. Davis' pictures.
-->

<h1>Jim W. Davis, Ph.D.</h1>

<h2> Pictures </h2>

<div class = "images">

  <img src="http://web.cse.ohio-state.edu/~davis.1719/Media/mo.jpg" alt = "mo.jpg"/>
  <p class = "content caption">Mo Akbar receiving the 2018 Undergrad Research Award (w/ Chris Menart on the left) (April, 2018)</p>
  <br />

  <img src="http://web.cse.ohio-state.edu/~davis.1719/Media/KarthikMatt2013.jpg" alt = "KarthikMatt2013.jpg"/>
  <p class = "content caption">Karthik and Matt back for a visit (October 21, 2013)</p>
  <br />

  <img src="http://web.cse.ohio-state.edu/~davis.1719/Media/2012-lab.jpg" alt = "2012-lab.jpg"/>
  <p class = "content caption">Davis lab out for lunch (June 2012)</p>
  <br />

  <img src="http://web.cse.ohio-state.edu/~davis.1719/Media/Kevin-1.JPG" alt = "Kevin-1.JPG"/>
  <p class = "content caption">Kevin signing "the Ph.D. hat" (April 2012)</p>
  <br />

  <img src="http://web.cse.ohio-state.edu/~davis.1719/Media/Kevin-2.JPG" alt = "Kevin-2.JPG"/>
  <p class = "content caption">Kevin wearing "the Ph.D. hat" (April 2012)</p>
  <br />

  <img src="http://web.cse.ohio-state.edu/~davis.1719/Media/AU11_Orientation--Davis-2.jpg" alt = "AU11_Orientation--Davis-2.jpg"/>
  <p class = "content caption">Prof. Davis speaking at AU11 orientation</p>
  <br />

  <img src="http://web.cse.ohio-state.edu/~davis.1719/Media/Karthik-1.jpg" alt = "Karthik-1.jpg"/>
  <p class = "content caption">Karthik signing "the Ph.D. hat</p>
  <br />

  <img src="http://web.cse.ohio-state.edu/~davis.1719/Media/Karthik-2.jpg" alt = "Karthik-2.jpg"/>
  <p class = "content caption">Karthik wearing "the Ph.D. hat</p>
  <br />

  <img src="http://web.cse.ohio-state.edu/~davis.1719/Media/Davis-lab-2011.JPG" alt = "Davis-lab-2011.JPG"/>
  <p class = "content caption">Current and past members of the lab at "Garden of the Gods" (Colorado Springs), 2011<br />
    Pictured (left-to-right): Kevin Streib, Vinay Sharma, Karthik Sankaranarayanan, Prof. Davis, Ambrish Tyagi, Mark Keck</p>
  <br />

  <img src="http://web.cse.ohio-state.edu/~davis.1719/Media/CityBeat09.jpg" alt = "CityBeat09.jpg"/>
  <p class = "content caption">Matt and Kevin (far right) featured in picture and news article on AFRL research</p>
  <br />

  <img src="http://web.cse.ohio-state.edu/~davis.1719/Media/lab2009.jpg" alt = "lab2009.jpg"/>
  <p class = "content caption">2009 lab photo. Pictured (left-to-right): Billy Hartmann, Prof. Davis, Ambrish Tyagi, Matt Nedrich, Karthik Sankaranarayanan, Karl Salva, Mark Keck</p>
  <br />

  <img src="http://web.cse.ohio-state.edu/~davis.1719/Media/lab2007.jpg" alt = "lab2007.jpg"/>
  <p class = "content caption">2007 lab photo. Pictured (left-to-right): Billy Hartmann, Mark Keck, Hui Gao (alum visiting) Prof. Davis, Ambrish Tyagi, Vinay Sharma</p>
  <br />

</div>
<br />
